@model QMaze.Models.GameStatisticsModel

@{
    ViewBag.Title = "Statistics";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Statistics</div>
    <div class="panel-body">

        <div>
            <div>
                @using (Ajax.BeginForm("RefreshList", "Statistics", new AjaxOptions()
                {
                    UpdateTargetId = "PlayerList",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    LoadingElementId = "loading"

                }))
                {
                    <div class="row">
                        <div class="col-sm-1">@Html.LabelFor(m => m.OrderBy)</div>
                        <div class="col-sm-2">@Html.DropDownListFor(m => m.OrderBy, new SelectList(Model.OrderByList), "None")</div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-1">@Html.LabelFor(m => m.Descending)</div>
                        <div class="col-sm-2">@Html.DropDownListFor(m => m.Descending, new SelectList(Model.OrderOptions, "Key", "Value"))</div>
                        <div class="col-sm-4"></div>
                    </div>
                }
            </div>
        </div>

    </div>

    <!-- Table -->


    <div id="PlayerList">
        @Html.Partial("_PlayerList", Model)
    </div>


    <!-- Footer panel contents -->
    <div class="panel-footer">
        <p>Click @Html.ActionLink("here", "PlayerStatistics", new { Id = "" }, null) to see individual statistics.</p>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        $("#OrderBy").change(function (event) {
            $(this).parents("form").submit();
        });
        $("#OrderBy").keyup(function (event) {
            $.ajax($(this).parents("form").attr("action"),
                {
                    data: { OrderBy: $("#OrderBy").val() },
                    method: "POST",
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    complete: function () {
                        $("#loading").hide();
                    },
                    success: function (data, status, xhr) {
                        $("#PlayerList").html(data);
                    },
                    error: function (xhr, status, err) {
                        $("#PlayerList").text(err);
                    },
                    dataType: "html"
                });
        });
    </script>

    <script type="text/javascript">
        $("#Descending").change(function (event) {
            $(this).parents("form").submit();
        });
        $("#Descending").keyup(function (event) {
            $.ajax($(this).parents("form").attr("action"),
                {
                    data: { OrderBy: $("#Descending").val() },
                    method: "POST",
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    complete: function () {
                        $("#loading").hide();
                    },
                    success: function (data, status, xhr) {
                        $("#PlayerList").html(data);
                    },
                    error: function (xhr, status, err) {
                        $("#PlayerList").text(err);
                    },
                    dataType: "html"
                });
        });
    </script>
}