@model QMaze.Models.UserStatisticsModel

@{
    ViewBag.Title = QMaze.Resources.HomeTexts.Statistics;
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>@Html.Raw(QMaze.Resources.HomeTexts.Hello), @User.Identity.Name!</h2></div>
    <div class="panel-body">
       <p>TO DO Display results for last month, year, everything</p>
    </div>

    <!-- Table -->
    <div id="PlayerStatistics">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.AppUser.GamesPlayed)</th>
                    <th>@Html.DisplayNameFor(Model => Model.AppUser.GamesWon)</th>
                    <th>@Html.DisplayNameFor(Model => Model.AppUser.QuestionsTotal)</th>
                    <th>@Html.DisplayNameFor(Model => Model.AppUser.QuestionsCorrect)</th>
                    <th>@Html.DisplayNameFor(Model => Model.SuccessRate)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Ranking)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(Model => Model.AppUser.GamesPlayed)</td>
                    <td>@Html.DisplayFor(Model => Model.AppUser.GamesWon)</td>
                    <td>@Html.DisplayFor(Model => Model.AppUser.QuestionsTotal)</td>
                    <td>@Html.DisplayFor(Model => Model.AppUser.QuestionsCorrect)</td>
                    <td>@Html.DisplayFor(Model => Model.SuccessRate)%</td>
                    <td>@Html.DisplayFor(Model => Model.Ranking)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Footer panel contents -->
    <div class="panel-footer">
        <p>You have been playing for @Html.DisplayFor(Model => Model.MemberFor) days!</p>
        <p>Click @Html.ActionLink("here", "Index") to go back to global statistics.</p>
    </div>
</div>


