@model QMaze.Models.UserStatisticsModel

@{
    ViewBag.Title = "Statistics";
}
<h2>Player statistics</h2>

<p>
   Hello, @User.Identity.Name!
</p>

<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.AppUser.GamesPlayed)</th>
            <th>@Html.DisplayNameFor(Model => Model.AppUser.GamesWon)</th>
            <th>@Html.DisplayNameFor(Model => Model.AppUser.QuestionsTotal)</th>
            <th>@Html.DisplayNameFor(Model => Model.AppUser.QuestionsCorrect)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(Model => Model.AppUser.GamesPlayed)</td>
            <td>@Html.DisplayFor(Model => Model.AppUser.GamesWon)</td>
            <td>@Html.DisplayFor(Model => Model.AppUser.QuestionsTotal)</td>
            <td>@Html.DisplayFor(Model => Model.AppUser.QuestionsCorrect)</td>
        </tr>
    </table>
</div>

<div>
    You have been playing since @Html.DisplayFor(Model => Model.AppUser.RegisterDate).
    Your high score is @Html.DisplayFor(Model => Model.AppUser.HighScore).
</div>

